*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    
}
#gameRunning{
    width: 500px;
    height: 500px;
    position: relative;
    left:200px;
    top:200px;
    background-color: lightblue;
}
#startTheGame{
    width: 500px;
    height: 500px;
    position: relative;
    left:200px;
    top:200px;
    background-color: lightblue;
}

#sectionScore {
    position: absolute;

}
.score{
    display: flex;
    justify-content: space-between;
    text-align: center;
    //position: absolute;

}

#target {
    
    height: 10%;
    width: 10%;
    background-color: green;
    position: absolute;
    top: 40%;
    left: 40%;
    
    
 }

