*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    
}




#gameRunning{
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    /* left:200px;
    top:200px;
    */background-image:url("../images/5383571_070819-wtvd-rice-paddy-field-art-am-vid.jpg");
    background-size: 100% 100%;
    justify-content: space-between;
}

#sectionPlayerInput h2{
    padding: 10px 0;
    padding-bottom: 0;
}

#startTheGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    position: relative;
    margin: auto;
    
   /* left:200px;
    top:200px;*/
    //background-color:lightblue;
}
#sectionScore{
    width: 800px;
    display: block;
    margin: 0 auto;
    display: none;
    
}

.score{
    display: flex;
    //  text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    /* top:-20%; */
    padding: 5px;
}
.score li{
    width: 20%;
    text-align: center;
}

#btnRestart{
    display: flex;
    //position: absolute;
    //align-items: center;
}
#sectionPlayerInput{
    display: relative;
    height: 100%;  
}

#sectionPlayerInput input{
padding : 10px ;
margin: 15px 0  ;
margin-top: 0;
}
#sectionPlayerInput [type="submit"]{
background-color: blue;
border-width: 0;
color: white;
border-radius: 20px;
margin-top : 40px;
padding: 20px;
}



#sectionGame {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
#rstbt form input{
    padding: 10px 30px;
    background-color: green;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;

 //   display: flex;
    // justify-content:center ;
//    padding-top:35%;
    
}
#rstbt{
  z-index: 1001;
}
.target {
    height: 10%;
    width: 10%;
    background-color: green;
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url("../images/imageedit_1_7112313590.png");
    background-size: cover;
    background-color: transparent;
 }
 .target p{
     display : none;
 }
.targetComputer {
    height: 10%;
    width: 10%;
    background-color: green;
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url("../images/imageedit_1_7112313590.png");
    background-size: cover;
    background-color: transparent;
 }
 .targetComputer p{
     display : none;
 }




 body{
      background-image: url("../images/717507.jpg");
      //cursor: url("../images/cursor.cur"),crosshair;
 }