*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    
}


#gameRunning{
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    /* left:200px;
    top:200px;
    */background-image:url("../images/5383571_070819-wtvd-rice-paddy-field-art-am-vid.jpg");
    background-size: 100% 100%;
    justify-content: space-between;
}
#startTheGame{
    width: 800px;
    height: 600px;
    position: relative;
    left:200px;
    top:200px;
    //background-color:lightblue;
}
#sectionScore{
    width: 800px;
    display: block;
    margin: 0 auto;
}

.score{
   display: flex;
     //  text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    /* top:-20%; */
    padding: 5px;
}
.score li{
    width: 20%;
    text-align: center;
}
    
#btnRestart{
    display: flex;
    position: absolute;
   align-items: center;
}
    /*
display: flex;
    justify-content: center;
    align-items: center;
*/
#sectionGame{
    display: relative;
    height: 100%;


}

#rstbt form{
    display: flex;
    justify-content:center ;
    margin-top:35%;
    
}
#rstbt{
    margin: auto;
}
#target {
    
    height: 10%;
    width: 10%;
    background-color: green;
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url("../images/imageedit_1_7112313590.png");
    background-size: cover;
    background-color: transparent;
 }

